<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/javapro/TestNG/src/main/java/org/example/SecondTestCase.java">
        <classes>
            <class name="org.example.SecondTestCase">
                <methods>
                    <include name="setup"/>
                    <include name="searchCustomer"/>
                    <include name="addCustomer"/>
                    <include name="teardown"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>